html {
  font-family: system-ui;
  font-size: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content {
  width: 100%;
}

#controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-button {
  flex: 1;
}

.card {
}
