html {
  font-family: system-ui;
  font-size: 3rem;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div {
  display: inherit;
  flex-direction: inherit;
}

#content {
  width: 100%;
}

#controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-button {
  flex: 1;
  min-height: 10vh;
}

.card {
  flex-direction: row;
  justify-content: space-between;
}

.checkin-missed {
  background-color: orange;
}

.checkin-occurred {
  background-color: blue;
}

.checkin-pending {
  background-color: grey;
}
