body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content {
  margin-bottom: auto;
  width: 100vw;
}

#controls {
  margin-top: auto;
  justify-content: space-around;
  width: 100vw;
}

.card {
}
